.hidden{
    position:absolute;
    overflow:hidden;
    width:1px;
    height:1px;
    margin:-1px;
    clip:rect(0,0,0,0);
}

body{
    overflow-x: hidden;
}

.btn{
    text-align: center;
    font-weight: 700;
    color: #FFF;
    background-color: #D97652;
    font-size: 0.8333vw;
    line-height: 1.0417vw;
    height: 2.6042vw;
    border-radius: 2.0833vw;
    padding: 0.7813vw 1.5104vw;
}
.container {
    width: 100vw;
    position: relative;
    transition: backdrop-filter 0.3s ease;
}
#header{
    position: sticky;
    top: 0;
    z-index: 10000;
}
.header-container{
    background-color: #F2E9D8;
}

.header-content{
    margin: 0 auto;
    width: 66.6667vw;
    height: 5.3125vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.web-header-content{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.logo-img{
    width: 6.7708vw;
    height: 2.0833vw;
}
#footer .logo-img{
    width: 11.7708vw;
    height: 3.6458vw;
}
.navbar-elem ul{
    display: flex;
    flex-direction: row;
    gap: 1.5625vw;
}
.web-header-content .btn{
    margin-left: 2.5521vw;
}

.menu-btn{
    display: none;
}

.first-container{
    background-color: #F2E9D8;
    width: 100%;
    height: 41.5625vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 16.6667vw;
}

.first-content{
    margin-top: 10.4167vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-weight: 700;
    gap: 2.0833vw;
}

.type2-title{
    font-size: 2.5000vw;
    line-height: 3.1250vw;
    font-weight: 700;
}

.first-desc{
    width: 21.8750vw;
    font-weight: 400;
    font-size: 0.8333vw;
    line-height: 1.0417vw;
}

.first-cat-img{
    width: 21.6146vw;
    height: 39.8958vw;
    margin-top: 1.6667vw;
}

.main-container{
    margin: 0 auto;
    width: 66.6667vw;
}

.second-content{
    margin-top: 4.1667vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.second-cat-img{
    width: 34.3750vw;
    height: 20.3125vw;
    border-radius: 1.5625vw;
}
.second-text{
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 1.5625vw;
    width: 26.5625vw;
}
.type3-title{
    font-size: 1.8750vw;
    font-weight: 700;
    line-height: 2.3438vw;
}
.second-desc{
    font-size: 0.8333vw;
    font-weight: 400;
    line-height: 1.0417vw;
}
.third-content{
    margin-top: 6.2500vw;
    text-align: center;
}
.third-content .type2-title{
    color: #D97652;
}
.third-desc{
    margin-top: 2.0833vw;
    font-size: 0.8333vw;
    line-height: 1.0417vw;
    font-weight: 400;
}
.third-desc span{
    color: #D97652;
    font-weight: 700;
}
.cats-content{
    margin-top: 4.5833vw;
    display: flex;
    flex-direction: row;
    gap: 3.8021vw;
    flex-wrap: wrap;
}
.cats-img{
    width: 19.6875vw;
    height: 19.6875vw;
    border-radius: 1.5625vw;
    box-shadow: 0.5208vw 0.5208vw 1.5625vw 0.0000vw #00000040;
}
.showmore-container{
    margin-top: 5.2083vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.4583vw;
    text-align: center;
}
.showmore-desc{
    font-size: 1.2500vw;
    line-height: 1.5625vw;
    font-weight: 700;
}
hr{
    margin: 4.1667vw 0 3.5417vw 0;
}
.map-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}
.map-desc{
    color: #606367;
    margin-top: 1.0417vw;
    font-weight: 500;
    text-align: left;
    font-size: 0.8333vw;
    line-height: 1.0417vw;
}
#map{
    width: 66.6667vw;
    height: 27.0833vw;
    border-radius: 0.6250vw;
    margin-top: 2.5000vw;
}

.subscribe-container{
    background-color: #263140;
    width: 66.6667vw;
    height: 10.4688vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 4.2188vw;
    border-radius: 1.5625vw;
    padding: 0 3.0208vw;
    box-sizing: border-box;
}
.subscribe-text{
    width: 24.5313vw;
    display: flex;
    flex-direction: column;
    gap: 0.9375vw;
    color: #FFF;
    text-align: left;
}
.subscribe-desc{
    font-size: 0.7292vw;
    line-height: 0.9375vw;
    font-weight: 400;
    color: #F2E9D8;
    width: 67.1795vw;
}
.email-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #FFF;
    width: 27.6042vw;
    height: 3.1250vw;
    border-radius: 3.1250vw;
}
.email-img{
    width: 1.2500vw;
    height: 1.2500vw;
    margin-left: 1.4583vw;
}
.email-input {
    width: 9.5833vw;
    margin-left: 0.8333vw;
    border: 0;
}
.email-input:focus  {
    outline:none
}
.email-input::placeholder{
    font-family: Pretendard;
    font-weight: 400;
    font-size: 0.8333vw;
    line-height: 1.0417vw;
}
.email-box .btn{
    margin-left: 7.1354vw;
}
.mobile-subscribe-btn {
    display: none;
}
.cat-background{
    position: absolute;
    background-image: url("../images/cat-footer.png");
    background-size: cover;
    width: 100%;
    height: 17.7083vw;
    bottom: 8.3333vw;
    z-index: -1;
}
.footer-container{
    width: 66.6667vw;
    height: 8.3333vw;
    margin: 12.5000vw auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.icon-box {
    display: flex;
    flex-direction: row;
    gap: 1.0417vw;
}
.icons-img{
    width: 2.1875vw;
    height: 2.1875vw;
}

.footer-menu{
    display: none;
}

.backdrop-background{
    background : rgba(0, 0, 0, 0.5); /* 반투명 배경 */
    backdrop-filter : blur(10px);
    -webkit-backdrop-filter : blur(10px);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    display: none;
}

.modal-container{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 31.2500vw;
    height: 20.8333vw;
    background-image: url("../images/modal.png");
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 1.5625vw;
    box-shadow: 0.0000vw 0.0000vw 1.5625vw 0.0000vw #00000033;
}
.modal-cat-img{
    width: 5.7292vw;
    height: 5.8333vw;
    margin-top: 3.1250vw;
}
.modal-title{
    color: #D97652;
    font-size: 1.8750vw;
    line-height: 2.3438vw;
    font-weight: 700;
    margin-top: 1.2500vw;
}
.modal-desc{
    margin-top: 0.6250vw;
    font-size: 0.7292vw;
    font-weight: 400;
    line-height: 0.9375vw;
}
.modal-btn{
    margin-top: 1.9792vw;
}

.scrollup-btn {
    position: fixed;
    width: 2.6042vw;
    height: 2.6042vw;
    right: 1.2500vw;
    bottom: 9.3229vw;
    background-image: url('../images/scroll-top-btn.png');
    background-size: cover;
    opacity: 0;
}
.scrollup-btn:hover{
    background-image: url('../images/scroll-top-btn2.png');
}
.menu-container{
    display: none;
}
.first-br{
    display: none;
}

@media (max-width: 720px){
    .btn{
        font-size: 4.1026vw;
        line-height: 5.1282vw;
        padding: 2.8205vw 6.1538vw 2.8205vw 6.1538vw;
        border-radius: 10.2564vw;
        height: 10.2564vw;
    }
    .type3-title{
        font-size: 6.1538vw;
        line-height: 7.6923vw;
    }
    .header-content{
        width: 89.7436vw;
        height: 19.4872vw;
    }
    .logo-img{
        width: 23.5897vw;
        height: 7.1795vw;
    }
    #footer .logo-img{
        width: 28.7179vw;
        height: 8.7179vw;
    }
    .web-header-content {
        display: none;
    }
    .menu-btn{
        display: block;
    }

    .first-container{
        flex-direction: column;
        gap: 7.6923vw;
        align-items: center;
        justify-content: center;
        height: 184.1026vw;
        padding: 0;
    }
    .first-content{
        text-align: center;
        gap: 7.6923vw;
        align-items: center;
    }
    .type2-title{
        font-size: 6.1538vw;
        line-height: 7.6923vw;
    }
    .first-desc{
        font-size: 3.5897vw;
        line-height: 4.6154vw;
        width: 69.2308vw;
    }
    .first-cat-img{
        width: 50.5128vw;
        height: 108.2051vw;
    }

    .main-container{
        width: 83.5897vw;
    }

    .second-content{
        margin-top: 4.1667vw;
        display: flex;
        flex-direction: column;
        gap: 10.2564vw;
    }

    .second-cat-img{
        width: 83.5897vw;
        height: 48.7179vw;
        border-radius: 4.6154vw;
    }
    .second-text{
        gap: 5.1282vw;
        width: 83.5897vw;
    }
    .type3-title{
        font-size: 6.1538vw;
        line-height: 7.6923vw;
    }
    .second-desc{
        font-size: 3.5897vw;
        line-height: 4.6154vw;
    }

    .third-content{
        margin-top: 15.3846vw;
    }
    .type4-title{
        font-size: 6.1538vw;
        line-height: 7.6923vw;
    }
    .third-desc{
        margin-top: 7.6923vw;
        font-size: 4.1026vw;
        line-height: 5.1282vw;
    }

    .cats-content{
        margin-top: 10.2564vw;
        gap: 8.2051vw;
    }
    .cats-img{
        width: 83.5897vw;
        height: 83.5897vw;
        border-radius: 4.6154vw;
        box-shadow: 2.5641vw 2.5641vw 5.1282vw 0.0000vw #00000040;
    }

    .showmore-container{
        margin-top: 15.3846vw;
        gap: 7.1795vw;
    }
    .showmore-desc{
        font-size: 4.6154vw;
        line-height: 6.1538vw;
    }

    hr{
        margin: 15.3846vw 0 10.2564vw 0;
    }

    .map-desc{
        margin-top: 4.1026vw;
        font-size: 4.1026vw;
        line-height: 5.1282vw;
        width: 82.5897vw;
    }
    #map{
        width: 83.5897vw;
        height: 33.8462vw;
        border-radius: 3.0769vw;
        margin-top: 7.1795vw;
    }

    .subscribe-container{
        width: 83.5897vw;
        height: 89.2308vw;
        display: flex;
        flex-direction: column;
        margin-top: 10.2564vw;
        border-radius: 4.6154vw;
        padding: 9.2308vw 8.2051vw 7.6923vw 8.2051vw;
        box-sizing: border-box;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .subscribe-text{
        gap: 5.1282vw;
    }
    .subscribe-text .type3-title{
        width: 47.9487vw;
    }
    .subscribe-desc{
        font-size: 3.5897vw;
        line-height: 4.6154vw;
    }
    .email-box{
        width: 67.1795vw;
        height: 10.2564vw;
        border-radius: 15.3846vw;
        margin-top: 7.6923vw;
    }
    .email-img{
        width: 4.6154vw;
        height: 4.6154vw;
        margin-left: 4.1026vw;
    }
    .email-input {
        width: 36.9231vw;
        margin-left: 3.5897vw;
        font-size: 3.0769vw;
        line-height: 4.1026vw;
    }
    .email-input::placeholder{
        font-size: 3.0769vw;
        line-height: 4.1026vw;
    }
    .email-box .btn{
        display: none;
    }
    .mobile-subscribe-btn {
        display: block;
        margin-top: 5.1282vw;
        margin-left: 37.1795vw;
    }

    .cat-background{
        background-image: url("../images/cat_footer.png");
        height: 61.5385vw;
        bottom: 45.6410vw;
    }
    .footer-container{
        width: 100vw;
        height: 45.6410vw;
        margin: 44.1026vw 0 0 0;
        flex-direction: row;
        justify-content: space-between;
        padding: 7.6923vw 5.3846vw 6.1538vw 5.1282vw;
        box-sizing: border-box;
    }
    .footer-content{
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        gap: 14.8718vw;
    }
    .icon-box {
        gap: 4.1026vw;
    }
    .icons-img{
        width: 8.2051vw;
        height: 8.2051vw;
    }

    .footer-menu{
        display: flex;
        flex-direction: column;
        text-align: right;
        gap: 4.1026vw;
        color: #767676;
        font-size: 3.5897vw;
        font-weight: 400;
        line-height: 4.6154vw;
    }

    .modal-container{
        width: 76.9231vw;
        height: 76.9231vw;
        background-color: #F2E9D8;
        background-image: none;
        border-radius: 7.6923vw;
        box-shadow: 0.0000vw 0.0000vw 5.1282vw 0.0000vw #00000033;
    }
    .modal-background{
        width: 76.9231vw;
        height: 51.2821vw;
        border-radius: 7.6923vw 7.6923vw 0 0;
        background-image: url("../images/modal.png");
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .modal-cat-img{
        width: 15.3846vw;
        height: 15.8974vw;
        margin-top: 10.2564vw;
    }
    .modal-title{
        font-size: 6.1538vw;
        line-height: 7.6923vw;
        margin-top: 6.1538vw;
    }
    .modal-desc{
        width: 48.4615vw;
        margin-top: 2.5641vw;
        font-size: 3.5897vw;
        line-height: 4.6154vw;

    }
    .modal-btn{
        margin-top: 7.1795vw;
    }
    .scrollup-btn{
        display: none;
    }

    .menu-container{
        position: fixed;
        width: 74.1026vw;
        height: 100vh;
        top: 0;
        background-color: #263140;
        z-index: 20000;
        display: none;
        margin-left: 25.8974vw;
    }
    .menu-container .btn{
        margin-top: 12.8205vw;
        margin-left: 10.2564vw;
    }
    .arrow-btn{
        margin: 5.6410vw 0 0 5.1282vw;
        width: 8.2051vw;
        height: 8.2051vw;
        background-image: url('../images/arrow-right.svg');
        background-size: cover;
    }
    .menu-box{
        margin-top: 16.9231vw;
        margin-left: 12.8205vw;
        color: #FFF;
        font-size: 4.1026vw;
        font-weight: 700;
        line-height: 5.1282vw;
        text-align: left;
        display: flex;
        flex-direction: column;
        gap: 7.6923vw;
    }
    .first-br{
        display: inline;
    }
}